<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="../static/styles2.css" />
  </head>
  <body>
    <div class="container">
      <section id="suscripcion" class="card">
        <h2>Suscribite para recibir novedades</h2>
        <form
          action="{{ url_for('subscribe') }}"
          method="POST"
          class="form-grid"
        >
          <label
            >Nombre
            <input type="text" name="nombre" required />
          </label>

          <label
            >Apellido
            <input type="text" name="apellido" required />
          </label>

          <label
            >Correo
            <input type="email" name="correo" required />
          </label>

          <label
            >Número de celular
            <input type="text" name="celular" required />
          </label>

          <label
            >Horario para llamada
            <input type="time" name="horario" required />
          </label>

          <button type="submit">Suscribirme para recibir mas Informacion</button>
        </form>
      </section>
    </div>
  </body>
</html>
