<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TORO - Productos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
    <nav>
      <li><a href="/dashboard">Home</a></li>
        <li><a href="/ternero">TERNERO</a></li>
        <li><a href="/novillo">NOVILLO</a></li>
         <li><a href="/novillito">NOVILLITOS</a></li>
        <li><a href="/vaquillona">VAQUILLONA</a></li>
        <li><a href="/vaca">VACA</a></li>
         <li><a href="/toro">TORO</a></li>
        <li><a href="/register">REGISTRESE</a></li>
    </nav>
    <h1>TOROS DISPONIBLES</h1>
    <p>MACHO ENTERO NO CASTRADO</p>
    <div class="product-container">
        <div class="product">
            <img src="../static/img/toro.jpg" alt="TOROS DISPONIBLES">
            <h2>POR UNIDAD</h2>
            <p>Precio: 1.000.000</p>
            <p class="availability available">Disponible</p>
        </div>
        <div class="product">
             <img src="../static/img/toro.jpg" alt="TOROS DISPONIBLES">
            <h2>APARTIR DE 2</h2>
            <p>Precio: 850.000 CADA UNO</p>
            <p class="availability out-of-stock">Agotado</p>
        </div>
    </div>
</body>
</html>